body {
    background-color: lightblue;
    font-size: 13px;
    font-family: Helvetica;
}

.highcharts-tooltip {
    display: none !important;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 640px;
    height: 620px;
    margin-bottom: 40px;
    padding: 10px;
}

    .box.top-left {
        order: 1;
        margin-right: 20px;
    }
        .intersection_1 {

        }

    .box.top-right {
        order: 2;
        margin-right: 20px;
    }

.message1 {
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    width: fit-content;
    font-size: 20px;
}


.button {
    padding: 10px 300px; 
    background-color: ghostwhite; 
    border: none;
    border-radius: 5px;
}

.center-button2 {
    display: inline-block; 
    padding: 10px 50px; 
    margin-left: 275px;
    background-color: ghostwhite; 
    border: none;
    border-radius: 5px;
}

.box.bottom-left {
    order: 3;
    margin-right: 20px;
}

.box.bottom-right {
    order: 4;
    margin-left: 20px;
}

.message {
    text-align: left;
    margin-left: 0px;
    margin-top: 30px;
    width: fit-content;
}

input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    width: 50px;
}

.small-input {
    width: 50px;
    margin-right: 10px;
}

.overlined-character {
    text-decoration: overline;
    display: inline-block;
    position: relative;
